{% extends "layouts/base.twig" %}

{% block pageBody %}
    <div class="page-content">
        <div class="page-content__inner">
            <h1 class="page-title">Page not found</h1>

            <div class="page-main">
                <div class="basic-text">
                    <p>Sorry, no page exists at this address. Try the
                        <a href="/">home page</a>
                        or the menu button above.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
