$grid-color: rgba($c-coral, 0.1);

.grid {
    @include site-pad(horiz);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.grid__content {
    margin: 0 auto;
    max-width: $layout-content;
    pointer-events: none;
    position: relative;
    justify-content: space-between;
    display: flex;
    opacity: 0;
    transition: opacity $t-fast;

    .grid-is-shown & {
        opacity: 1;
    }
}

.grid__col {
    @include grid-width(1);
    height: 100vh;
    background: $grid-color;
}
