// Write less verbose media queries.
// @param {Number(px)} $bp-1 - breakpoint value, min-width if declaring range
// @param {Number(px)} $bp-2 [null] - [Optional] breakpoint value, max-width if declaring range
// @link http://codepen.io/upstatement/pen/vORJPZ See it on Codepen

@mixin mq($bp-1, $bp-2: null) {
    @if $bp-1 == 'max' {
        @media (max-width: $bp-2 - 1) {
            @content;
        }
    }
    @elseif $bp-2 == 'max' {
        @media (max-width: $bp-1 - 1) {
            @content;
        }
    }
    @elseif $bp-2 == null {
        @media (min-width: $bp-1) {
            @content;
        }
    } @else {
        @media (min-width: $bp-1) and (max-width: $bp-2 - 1) {
            @content;
        }
    }
}
