// Sets the `width` and `height` of the element.
// @param {Number [unit]} $width - Width (or height and width if $height is not declared)
// @param {Number [unit]} $height - Height
// @link http://codepen.io/upstatement/pen/KpoOpZ See it on Codepen

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
