<div class="gallery-overlay">

    <div class="gallery-overlay__close-wrap">
        <button class="gallery-overlay__close js-gallery-close">
            <svg>
                <use xlink:href="#nav-close"></use>
            </svg>
            <span class="visually-hidden">Close</span>
        </button>
    </div>

    <div class="gallery-overlay__slides"></div>

    <aside class="gallery-overlay__meta">
        <div class="gallery-overlay__meta-inner">

            <div class="gallery-overlay__counter">
                <p>
                    <span class="gallery-overlay__count-number js-gallery-counter-index"></span>
                    of
                    <span class="gallery-overlay__count-number js-gallery-counter-total"></span>
                </p>
            </div>

            <ul class="gallery-overlay__arrows">
                <li class="gallery-overlay__arrow gallery-overlay__arrow--prev">
                    <button class="js-gallery-prev">
                        <svg>
                            <use xlink:href="#page-arrow-left"></use>
                        </svg>
                    </button>
                </li>
                <li class="gallery-overlay__arrow gallery-overlay__arrow--next">
                    <button class="js-gallery-next">
                        <svg>
                            <use xlink:href="#page-arrow-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </aside>

</div>
