<nav class="sticky-nav js-sticky-nav">
    <div class="sticky-nav__inner">
        {% include 'components/article-share.twig' with { 'classes': 'mobile'}  %}
        {% include 'components/menu-button.twig' %}
    </div>
</nav>
